.addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10px;
    
    

}

.addbtn button {
    background: #E75420;
    width: 15%;
    color: white;
    border: none;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s;
}

.addbtn button:hover {
    background-color: #F0801A;
}