.balance-container {
  padding-top: 15px;
}

.balance-container ul {
  width: fit-content; /* Ajuste la largeur au contenu */
  margin: 0 auto; /* Centre horizontalement */
}

.balance-container li {
  padding-bottom: 1px;
}

.balance-bar {
  position: relative;
  width: 200px; /* Largeur totale */
  height: 15px; /* Hauteur de la jauge */
  background-color: #ddd; /* Couleur de fond */
  overflow: hidden;
  margin-top: 5px;
}

.balance-fill {
  position: absolute;
  height: 100%;
  max-width: 50%; /* La jauge ne peut pas aller au-delà de la moitié */
  transition: width 0.3s ease-in-out;
}

.positive {
  background-color: rgb(143, 188, 143);
}

.negative {
  background-color: rgb(240, 127, 127);
}

.balance-midline {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: black;
  transform: translateX(-50%);
}



