.balance-container {
  padding-top: 15px;
  height: 590px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;

}

.balance-container h2 {
  margin-bottom: 20px;
}

.balance-container ul {
  width: fit-content; /* Ajuste la largeur au contenu */
  margin: 0 auto; /* Centre horizontalement */
  display: flex;
    flex-direction: column;
    /* Organise les éléments de la liste verticalement */
    gap: 10px;
    /* Espace entre chaque élément de la liste */
  }
   



.balance-container li {
  padding-bottom: 10px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  
}

.balance-bar {
  position: relative;
  width: 200px; /* Largeur totale */
  height: 23px; /* Hauteur de la jauge */
  background-color: #ddd; /* Couleur de fond */
  overflow: hidden;
  margin-top: 5px;
}

.balance-fill {
  position: absolute;
  height: 100%;
  max-width: 50%; /* La jauge ne peut pas aller au-delà de la moitié */
  transition: width 0.3s ease-in-out;
}

.positive {
  background-color: rgb(143, 188, 143);
}

.negative {
  background-color: rgb(240, 127, 127);
}

.balance-midline {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: black;
  transform: translateX(-50%);
}

ul p {
  font-size: 1.3rem;
}

