.form-container {
        margin-top: 15px;
            padding: 20px;
            height: 650px;
            overflow-x: auto;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px;
}